<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Servidor</title>
    <!-- Enlace al archivo CSS de tu carpeta estática -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Información del Servidor</h1>
        <p><strong>Hostname:</strong> {{ hostname }}</p>
        <p><strong>Dirección IP:</strong> {{ ip }}</p>
    </div>
</body>
</html>
